/*CLASES ANIMATION*/
.animation-text1
{
	opacity: 0;
	animation-name: appear;
  	animation-duration: 2s;
 	animation-fill-mode: backwards;
}
.animation-text2
{
	opacity: 0;
	animation-name: appear;
  	animation-duration: 2s;
 	animation-fill-mode: forwards;
 	animation-delay: 3s;
}

.animation-textcomment{
	position: relative;
	animation-name: textEntry;
  	animation-duration: 1s;
 	animation-fill-mode: forwards;
}


/*KEY FRAMES ANIMATION*/
@keyframes appear 
{
  	from 	{opacity: 0;}
 	 to 	{opacity: 1;}
}

@keyframes textEntry
{
	from{
		right: 400px;
	}
	to{
		right: 0px;
	}
}