.bg-azul{
	background-color: #033949 !important;
}

.bg-verde{
	background-color: #4ec025 !important;
}

.bg-blanco{
	background-color: white !important;
}

.bg-celeste{
	background-color: #0063f6 !important;
}
.blanco{
	color: white !important;
}

.celeste{
	color: #17a2b8 !important;
}

.bg-gris{
	background-color: #343a40 !important;
}

.bg-google{
	background-color: #e84c3d !important;
}

.bg-facebook{
	background-color: #3458a2 !important;
}

.bg-twitter{
	background-color: #3598dc !important;
}
